/cash_drawer/.gitignore
/cash_drawer/.idea/.gitignore
/cash_drawer/.idea/compiler.xml
/cash_drawer/.idea/gradle.xml
/cash_drawer/.idea/misc.xml
/cash_drawer/.idea/vcs.xml
/cash_drawer/app/.gitignore
/cash_drawer/app/build.gradle
/cash_drawer/app/proguard-rules.pro
/cash_drawer/app/src/androidTest/java/py/edu/facitec/cash_drawer/ExampleInstrumentedTest.java
/cash_drawer/app/src/main/AndroidManifest.xml
/cash_drawer/app/src/main/java/py/edu/facitec/cash_drawer/MainActivity.java
/cash_drawer/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/cash_drawer/app/src/main/res/drawable/ic_launcher_background.xml
/cash_drawer/app/src/main/res/layout/activity_main.xml
/cash_drawer/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/cash_drawer/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/cash_drawer/app/src/main/res/mipmap-anydpi-v33/ic_launcher.xml
/cash_drawer/app/src/main/res/mipmap-hdpi/ic_launcher.webp
/cash_drawer/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/cash_drawer/app/src/main/res/mipmap-mdpi/ic_launcher.webp
/cash_drawer/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/cash_drawer/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
/cash_drawer/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/cash_drawer/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
/cash_drawer/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/cash_drawer/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
/cash_drawer/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/cash_drawer/app/src/main/res/values-night/themes.xml
/cash_drawer/app/src/main/res/values/colors.xml
/cash_drawer/app/src/main/res/values/strings.xml
/cash_drawer/app/src/main/res/values/themes.xml
/cash_drawer/app/src/main/res/xml/backup_rules.xml
/cash_drawer/app/src/main/res/xml/data_extraction_rules.xml
/cash_drawer/app/src/test/java/py/edu/facitec/cash_drawer/ExampleUnitTest.java
/cash_drawer/build.gradle
/cash_drawer/gradle.properties
/cash_drawer/gradle/wrapper/gradle-wrapper.jar
/cash_drawer/gradle/wrapper/gradle-wrapper.properties
/cash_drawer/gradlew
/cash_drawer/gradlew.bat
/cash_drawer/settings.gradle
